<div class="wrapper">
  <h4>Vous avez perdu votre mot de passe ?</h4>
  <p ngStyle.lt-lg="margin-bottom: 50px;">
    Pas de panique, nous allons vous aider à le retrouver ! :)
    <br />
    Entrez simplement votre adresse mail correspondant à votre compte <strong>Rehist</strong> et vous allez recevoir un lien pour réinitialiser votre mot de passe.
  </p>

  <form [formGroup]="resetForm"
        (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" placeholder="dupont@exemple.com" required>
    </mat-form-field>

    <button mat-raised-button style="background-color: #F6AE2D; color: white;" type="submit" [disabled]="resetForm.invalid">Envoyer le mail</button>
  </form>

</div>
