<footer>
  <div id="main_footer">
    <div>
        <img src="assets/logo.png" alt="logo rehist" />
        <p>La référence associative et événementielle de la reconstitution historique</p>
    </div>
    <div>
      <a routerLink="/home">Accueil</a>
      <a routerLink="/associations">Associations</a>
      <a routerLink="/events">Evénements</a>
      <a routerLink="/sign-up">S'inscrire</a>
      <a routerLink="/sign-in">Se connecter</a>
    </div>
  </div>
  <span>Rehist 2021 - Tous droits réservés</span>
</footer>
